<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Back</title>
    <!-- CSS general -->
    <link rel="stylesheet" data-th-href="@{'/css/styles.css'}">
    <!-- CSS custom -->
    <link rel="stylesheet" data-th-href="@{'/css/home/contact.css'}">
    <!-- Bench nine font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Rozha One font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">

    
</head>
<body class="bg-gray-100 text-gray-800">
    <!-- Header -->
    <header class="bg-white shadow-md">
        <div class="container mx-auto px-4 py-6 flex justify-between items-center">
            <h1 class="font-benchnine text-3xl">WE BACK</h1>
            <nav>
                <ul class="flex space-x-4 font-rozha text-xl">
                    <li><a href="home.html" class="hover:text-yellow-500">Inicio</a></li>
                    <li><a href="gallery.html" class="hover:text-yellow-500">Galería</a></li>
                    <li><a href="#" class="hover:text-gray-500">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto px-4 py-8">
        <!-- Contact -->
        <section>
            <div>

            </div>
        </section>
    </main>
</body>
</html>
