<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Back</title>
    <!-- CSS general -->
    <link rel="stylesheet" data-th-href="@{'/css/styles.css'}">
    <!-- CSS custom -->
    <link rel="stylesheet" data-th-href="@{'/css/home/home.css'}">
    <!-- Lilita one font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <!-- Rozha One font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">

    
</head>
<body class="bg-gray-100 text-gray-800">
    <!-- Header -->
    <header class="bg-white shadow-md">
        <div class="container mx-auto px-4 py-6 flex justify-between items-center">
            <h1 class="font-lilita text-3xl">WE BACK</h1>
            <nav>
                <ul class="flex space-x-4 font-rozha text-xl">
                    <li><a href="#" class="hover:text-yellow-500">Inicio</a></li>
                    <li><a href="#" class="hover:text-yellow-500">Galería</a></li>
                    <li><a href="#" class="hover:text-yellow-500">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto px-4 py-8">
        <!-- Gallery -->
        <section>
            <div class="album">
                <div class="responsive-container-block bg">
                    <div class="responsive-container-block img-cont">
                        <img class="img" src="https://picsum.photos/200/300?random=1">
                        <img class="img" src="https://picsum.photos/400/600?random=2">
                        <img class="img img-last" src="https://picsum.photos/300/150?random=3">
                    </div>
                    <div class="responsive-container-block img-cont">
                        <img class="img img-big" src="https://picsum.photos/250/700?random=4">
                        <img class="img img-big img-last" src="https://picsum.photos/600/250?random=5">
                    </div>
                    <div class="responsive-container-block img-cont">
                        <img class="img" src="https://picsum.photos/150/500?random=6">
                        <img class="img" src="https://picsum.photos/350/400?random=7">
                        <img class="img" src="https://picsum.photos/700/200?random=8">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
